<nav class="main-header navbar navbar-expand navbar-white navbar-light setBkGreen">
  <!-- Left navbar links -->
  <div>
    <a>
      <img class="logo" src="./assets/logo/kasikornthai-w.png">
    </a>
  </div>
  <ul class="navbar-nav">
    <li style="display: none !important;" class="nav-item d-block d-sm-none">
      <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item">
      <a href="/personal" class="nav-link">หน้าหลัก</a>
    </li>
    <!-- <li class="nav-item d-none d-sm-inline-block">
      <a href="/personal" class="nav-link">หน้าหลัก</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="#" class="nav-link">Contact</a>
    </li> -->
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    
  </ul>
</nav>