<div class="container">
  <div class="row mt-3">
    <div class="col-12 textHeader borderHeader">
      แบบฟอร์มแจ้งขอเปลี่ยนแปลงข้อมูล
    </div>
  </div>
  <div class="row mt-4 form-group justify-content-end">
    <div class="w-100"></div>
    <label class="col-1 col-form-label">
      Ref doc no.
    </label>
    <div class="col-2">
      <input type="text" class="form-control" id="refDocNo">
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-default btn-icon-plus" (click)="addDynamicEmployer()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="card card-default">
        <div class="card-header card-header-kbank">
          <h3 class="card-title card-title-kbank">ผู้แจ้งข้อมูล</h3>
          <div class="card-tools card-tools-kbank">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-auto">
              <label class="col-form-label">ชื่อผู้แจ้งข้อมูล</label>
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-2 fix-width-colNum4 div-text-align-right">
                  <label class="col-form-label">คำนำหน้า</label>
                </div>
                <div class="col-auto">
                  <select class="form-control select-kbank" style="width: 100%;">
                    <option selected="selected" value="">โปรดเลือก</option>
                    <option value="นาย">นาย</option>
                    <option value="นาง">นาง</option>
                    <option value="นางสาว">นางสาว</option>
                  </select>
                </div>
                <div class="col-auto">
                  <label class="col-form-label">ชื่อ</label>
                </div>
                <div class="col-2 fix-width-colNum5">
                  <input type="text" class="form-control" id="firstNameEmpFund">
                </div>
                <div class="col-auto">
                  <label class="col-form-label">นามสกุล</label>
                </div>
                <div class="col-2 fix-width-colNum5">
                  <input type="text" class="form-control" id="lastNameEmpFund">
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-auto">
              <label class="col-form-label">ข้อมูลในการติดต่อ</label>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-2 div-text-align-right fix-width-colNum4">
                  <label class="col-form-label">หมายเลขโทรศัพท์</label>
                </div>
                <div class="col-4">
                  <input type="text" class="form-control" id="phoneNumber">
                </div>
                <div class="col-2 div-text-align-right fix-width-colNum6">
                  <label class="col-form-label">หมายเลขโทรสาร</label>
                </div>
                <div class="col-4">
                  <input type="text" class="form-control" id="faxNumber">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-2 div-text-align-right fix-width-colNum4">
                  <label class="col-form-label">E-mail</label>
                </div>
                <div class="col-4">
                  <input type="text" class="form-control" id="email">
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-auto">
              <label class="col-form-label">โปรดระบุชื่อนายจ้างและชื่อกองทุนสำรองเลี้ยงชีพ</label>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-2 div-text-align-right fix-width-colNum4">
                  <label class="col-form-label">ชื่อนายจ้าง</label>
                </div>
                <div class="col-4">
                  <div class="row">
                    <div class="col-10 fix-width-colNum1">
                      <input type="text" class="form-control" id="employerName">
                    </div>
                    <div class="col-2 fix-width-colNum2">
                      <button type="button" class="btn btn-default btn-icon-plus">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-2 div-text-align-right fix-width-colNum3">
                  <label class="col-form-label">ชื่อกองทุน</label>
                </div>
                <div class="col-4">
                  <div class="row">
                    <div class="col-10 fix-width-colNum1">
                      <input type="text" class="form-control" id="providentFundName">
                    </div>
                    <div class="col-2 fix-width-colNum2">
                      <button type="button" class="btn btn-default btn-icon-plus">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-12">
      <div class="card card-default">
        <div class="card-header card-header-kbank">
          <h3 class="card-title card-title-kbank">เปลี่ยนแปลงผู้ติดต่อ</h3>
    
          <div class="card-tools card-tools-kbank">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-auto">
                <label class="col-form-label">เปลี่ยนแปลงผู้ติดต่อด้าน</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
              </div>
              <div class="col-11">
                <label class="col-form-label">(1.1) ผู้ประสานงานหลักของกองทุน (ซึ่งเกียวข้องกับการเปลี่ยนแปลงข้อบังคับกองทุน / เปลี่ยนแปลงกรรมการกองทุน ฯลฯ / และข้อมูลการติดต่อทั่วไป)</label>
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
            </div>
            <div class="row">
              <div class="col">
              </div>
              <div class="col-11">
                <label class="col-form-label">(1.2) ผู้ประสานงานทะเบียนสมาชิก (ซั่งเกี่ยวข้องกับการนำส่งเงินเข้ากองทุน / แจ้งสมาชิกพ้นสมาชิกภาพ ฯลฯ / เป็นต้น)</label>
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
            </div>
            <div class="row">
              <div class="col">
              </div>
              <div class="col-11">
                <label class="col-form-label">(1.3) ผู้ประสานงานบัญชีกองทุน (ซึ่งเกี่ยวข้องกับการรับรานงานกองทุนสำรองเลี้ยงชีพ (PVD E-Report) / เป็นต้น)</label>
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
            </div>
            <div class="row">
              <div class="col">
              </div>
              <div class="col-11">
                <label class="col-form-label">(1.4) ผู้ประสานงานใบแจ้งหนี้/ใบเสร็จรับเงิน (ซึ่งเกี่ยวข้องกับการรับใบแจ้งหนี้/ใบเสร็จค่าธรรมเนียมทะเบียนสมาชิก เป็นต้น)</label>
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
              </div>
              <div class="col-11">
                <label class="col-form-label">(โปรดระบุคำนำหน้านาม นาย/นาง/นางสาว)</label>
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-12">
      <div class="card card-default">
        <div class="card-header card-header-kbank">
          <h3 class="card-title card-title-kbank">แก้ไขข้อบังคับกองทุนหรือข้อบังคับกองทุนเฉพาะส่วน</h3>
    
          <div class="card-tools card-tools-kbank">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-auto">
              <label class="col-form-label">เรื่องที่ต้องการแก้ไข</label>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
            </div>
            <div class="col-1 div-text-align-right">
              <label class="col-form-label">เรื่อง</label>
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col-auto">
                  <select class="form-control select-kbank" style="width: 100%;">
                    <option selected="selected" value="">โปรดเลือก</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
            </div>
            <div class="col-1 div-text-align-right">
              <label class="col-form-label">จากเดิม</label>
            </div>
            <div class="col-10">
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
            </div>
            <div class="col-1 div-text-align-right">
              <label class="col-form-label">เปลี่ยนเป็น</label>
            </div>
            <div class="col-10">
              <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
            </div>
            <div class="col-1">
            </div>
            <div class="col-10">
              <button type="button" class="btn btn-default btn-icon-plus" (click)="addDynamicEmployer()">
                <i class="fa fa-plus"></i>
                <label class="col-form-label btn-lable-kbank">เพิ่มเรื่องที่ต้องการแก้ไข</label>
              </button>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-auto">
              <label class="col-form-label">วันที่ต้องการให้ข้อบังคับกองทุนฯ มีผลบังคับใช้</label>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
            </div>
            <div class="col-1 div-text-align-right">
              <label class="col-form-label">ระบุวันที่ คือ</label>
            </div>
            <div class="col-10">
              <input type="text" class="form-control dateclass" id="dateEditFundRegulations">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
            </div>
            <div class="col-11">
                <label class="col-form-label">• แจ้งให้บริษัทจัดการทราบเป็นลายลักษณ์อักษรล่วงหน้าไม่น้อยกว่า 30 วัน ก่อนวันมีผลบังคับใช้</label>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-11">
                <label class="col-form-label">• โปรดระบุวันที่ 1 หรือ 15 ของเดือนที่จะประสงด์ให้ข้อบังคับกองทุนมีผลบังคับใช้</label>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-11">
                <label class="col-form-label">• การแก้ไขหรือเพิ่มเติมข้อบังคับของกองทุน จะยังไม่มีผลใช้บังคับจนกว่านายทะเบียนจะได้รับจดทะเบียนแล้ว (ตามกฏหมาย)</label>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
            </div>
            <div class="col-11">
                <label class="col-form-label"><u>หมายเหตุ</u> กรณีที่มีการเปลี่ยนแปลงชื่อนายจ้าง โปรดแนบเอกสารที่แสดงถึงการเปลี่ยนชื่อนายจ้าง (เป็นชื่อใหม่) มาพร้อมกับจดหมายฉบับนี้</label>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-11">
                <label class="col-form-label">เช่น หนังสือรับของจากกระทรวงพานิชย์ฉบับไม่เกิน 6 เดือน (ที่ระบุว่าเดิมชื่ออะไรได้จดทะเบียนเปลี่ยนเป็นชื่อใหม่)</label>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-12">
      <div class="card card-default">
        <div class="card-header card-header-kbank">
          <h3 class="card-title card-title-kbank">เปลี่ยนแปลงที่อยู่</h3>
    
          <div class="card-tools card-tools-kbank">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-auto">
              <label class="col-form-label">เรื่องที่ต้องการเปลี่ยนแปลง</label>
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1" [(ngModel)]="changeRequestModel.option1">
                  <label for="customCheckbox1" class="custom-control-label">ที่อยู่นายจ้าง (บริษัท) โปรดแนบเอกสารที่เกี่ยวข้อง เช่น หนังสือรับรองจากกระทรวงพาณิชย์ ฉบับไม่เกิน 6 เดือน</label>
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-3 div-text-align-right">
                  <label class="col-form-label">หนังสือรับรองจากกระทรวงพาณิชย์</label>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                </div>
              </div>
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-3 div-text-align-right">
                  <div class="row fix-padding-left">
                    <div class="col-auto">
                      <div class="form-group">
                        <div class="custom-control custom-radio custom-radio-kbank">
                          <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio">
                          <label for="customRadio1" class="custom-control-label">สำนักงานใหญ่</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <div class="form-group">
                        <div class="custom-control custom-radio custom-radio-kbank">
                          <input class="custom-control-input" type="radio" id="customRadio2" name="customRadio">
                          <label for="customRadio2" class="custom-control-label">สาขา</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <input type="text" class="form-control" id="textBranch">
                </div>
                <div class="col-3">
                </div>
              </div>
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-3 div-text-align-right">
                  <label class="col-form-label">หมายเลขโทรศัพท์</label>
                </div>
                <div class="col-6">
                  <input type="text" class="form-control" id="phoneNumberChangeAddress">
                </div>
                <div class="col-3">
                </div>
              </div>
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row mt-1">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-3 div-text-align-right">
                  <label class="col-form-label">หมายเลขโทรสาร</label>
                </div>
                <div class="col-6">
                  <input type="text" class="form-control" id="faxNumberChangeAddress">
                </div>
                <div class="col-3">
                </div>
              </div>
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="customCheckbox2" value="option2" [(ngModel)]="changeRequestModel.option2">
                  <label for="customCheckbox2" class="custom-control-label">ที่อยู่ในการนำส่งเอกสาร</label>
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-12">
      <div class="card card-default">
        <div class="card-header card-header-kbank">
          <h3 class="card-title card-title-kbank">ขอคัดสำเนา</h3>
    
          <div class="card-tools card-tools-kbank">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
          </div>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-auto">
                <label class="col-form-label">โปรดเลือกหัวข้อที่ต้องการคัดสำเนา</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
              </div>
              <div class="col-11">
                <div class="form-group">
                  <div class="custom-control custom-checkbox custom-checkbox-kbank">
                    <input class="custom-control-input" type="checkbox" id="customCheckbox3" value="option3" [(ngModel)]="changeRequestModel.option3">
                    <label for="customCheckbox3" class="custom-control-label">ข้อบังคับกองทุนเฉพาะส่วน</label>
                  </div>
                </div>
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
            </div>
            <div class="row">
              <div class="col">
              </div>
              <div class="col-11">
                <div class="form-group">
                  <div class="custom-control custom-checkbox custom-checkbox-kbank">
                    <input class="custom-control-input" type="checkbox" id="customCheckbox4" value="option4" [(ngModel)]="changeRequestModel.option4">
                    <label for="customCheckbox4" class="custom-control-label">ข้อบังคับกองทุน</label>
                  </div>
                </div>
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
            </div>
            <div class="row">
              <div class="col">
              </div>
              <div class="col-11">
                <div class="form-group">
                  <div class="custom-control custom-checkbox custom-checkbox-kbank">
                    <input class="custom-control-input" type="checkbox" id="customCheckbox5" value="option5" [(ngModel)]="changeRequestModel.option5">
                    <label for="customCheckbox5" class="custom-control-label">เอกสารจัดตั้งกองทุนหรือเพิ่มนายจ้าง</label>
                  </div>
                </div>
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
            </div>
            <div class="row">
              <div class="col">
              </div>
              <div class="col-11">
                <div class="form-group">
                  <div class="custom-control custom-checkbox custom-checkbox-kbank">
                    <input class="custom-control-input" type="checkbox" id="customCheckbox6" value="option6" [(ngModel)]="changeRequestModel.option6">
                    <label for="customCheckbox6" class="custom-control-label">อื่นๆ</label>
                    <textarea class="form-control fix-margin-top" rows="3"></textarea>
                  </div>
                </div>
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-auto">
                <label class="col-form-label">โปรดเลือกช่องทางที่ต้องการส่งเอกสาร</label>
              </div>
            </div>
            <div class="row">
              <div class="col">
              </div>
              <div class="col-11">
                <div class="form-group">
                  <div class="custom-control custom-radio custom-radio-kbank">
                    <input class="custom-control-input" type="radio" id="customRadio3" name="customRadio2">
                    <label for="customRadio3" class="custom-control-label">
                      ส่งทาง Email ผู้แจ้งข้อมูล และ Email ตามที่ระบุ
                    </label>
                    <input type="text" placeholder="โปรดระบุ Email" class="form-control fix-margin-top width-250" id="textCustomRadio3Detail">
                  </div>
                </div>
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
            </div>
            <div class="row">
              <div class="col">
              </div>
              <div class="col-11">
                <div class="form-group">
                  <div class="custom-control custom-radio custom-radio-kbank">
                    <input class="custom-control-input" type="radio" id="customRadio4" name="customRadio2">
                    <label for="customRadio4" class="custom-control-label">โปรดส่งเอกสารไปตามที่อยู่ของนายจ้าง (บริษัท) ตามฐานข้อมูลที่แจ้งไว้กับ บลจ.กสิกรไทย</label>
                  </div>
                </div>
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
              <div class="col">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-auto">
                <label class="col-form-label">วัตถุประสงค์ในการขอคัดสำเนา</label>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <textarea class="form-control" rows="3"></textarea>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-12">
      <div class="card card-default">
        <div class="card-header card-header-kbank">
          <h3 class="card-title card-title-kbank">ถอนตัวนายจ้าง</h3>
    
          <div class="card-tools card-tools-kbank">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-auto">
              <label class="col-form-label">มีความประสงค์แจ้งถอนตัวนายจ้าง โดยให้การถอนตัวมีผลในวันที่</label>
            </div>
            <div class="col-auto">
              <input type="text" class="form-control dateclass" id="dateWithdrawEmployer">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-11">
              <label class="col-form-label">• แจ้งให้บริษัทจัดการทราบเป็นลายลักษณ์อักษรล่วงหน้าไม่น้อยกว่า 30 วัน ก่อวันมีผลบังคับใช้</label>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-11">
              <label class="col-form-label">• โปรดระวุวันที่ 1 ของเดือนที่จะประสงค์ให้การถอนตัวมีผลบังคับใช้</label>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-11">
              <label class="col-form-label">• เพื่อแจ้ง สำนักงาน ก.ล.ต. ภายใน 7 วัน นับแต่วันที่นายจ้างถอนตัว (ตามกฎหมาย)</label>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-auto">
              <label class="col-form-label">โปรดระบุสาเหตุที่นายจ้างถอนตัว เนื่องจาก</label>
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-auto">
                  <div class="form-group">
                    <div class="custom-control custom-radio custom-radio-kbank">
                      <input class="custom-control-input" type="radio" id="customRadio5" name="customRadio3">
                      <label for="customRadio5" class="custom-control-label">นายจ้างยกเลิกกิจการ</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-auto">
                  <div class="form-group">
                    <div class="custom-control custom-radio custom-radio-kbank">
                      <input class="custom-control-input" type="radio" id="customRadio6" name="customRadio3">
                      <label for="customRadio6" class="custom-control-label">ไม่มีสมาชิกเหลืออยู่</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-auto">
                  <div class="form-group">
                    <div class="custom-control custom-radio custom-radio-kbank">
                      <input class="custom-control-input" type="radio" id="customRadio7" name="customRadio3">
                      <label for="customRadio7" class="custom-control-label">ยกเลิกสวัสดิการ</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-auto">
                  <div class="form-group">
                    <div class="custom-control custom-radio custom-radio-kbank">
                      <input class="custom-control-input" type="radio" id="customRadio8" name="customRadio3">
                      <label for="customRadio8" class="custom-control-label">โยกย้ายกองทุนไปยัง กองทุนสำรองเลี้ยงชีพ</label>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <input type="text" class="form-control" id="textMoveWithdrawEmployer">
                </div>
                <div class="col-auto">
                  <label class="col-form-label">ซึ่งจดทะเบียนแล้ว</label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                </div>
                <div class="col-auto">
                  <label class="col-form-label">ชื่อบริษัทจัดการ (ใหม่)</label>
                </div>
                <div class="col-6">
                  <select class="form-control select-kbank" style="width: 100%;">
                    <option selected="selected" value="">โปรดเลือก</option>
                  </select>
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row mt-1">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="form-group">
                <div class="custom-control custom-radio custom-radio-kbank">
                  <input class="custom-control-input" type="radio" id="customRadio9" name="customRadio3">
                  <label for="customRadio9" class="custom-control-label">อื่นๆ</label>
                  <textarea class="form-control fix-margin-top" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-auto">
              <label class="col-form-label">กรุณาระบุเหตุผลที่เปลี่ยนบริษัทจัดการ คือ </label>
            </div>
            <div class="col-auto">
              <input type="text" class="form-control" id="dateWithdrawEmployer">
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-auto">
              <label class="col-form-label">วันที่ต้องแจ้ง ก.ล.ต. ในการชำระบัญชีกองทุนเฉพาะส่วนเสร็จสิ้น</label>
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-11">
              <label class="col-form-label lable-Warning-Red">*ต้องแจ้ง สำนักงาน ก.ล.ต. ภายใน 7 วัน นับแต่วันที่ชำระบัญชีฯ เฉพาะส่วนเสร็จสิ้น (ตามกฎหมาย)</label>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-auto">
                  <div class="form-group">
                    <div class="custom-control custom-radio custom-radio-kbank">
                      <input class="custom-control-input" type="radio" id="customRadio10" name="customRadio4">
                      <label for="customRadio10" class="custom-control-label">ตามรอบระยะเวลาที่ บลจ.กสิกรไทย กำหนดไว้</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-auto">
                  <div class="form-group">
                    <div class="custom-control custom-radio custom-radio-kbank">
                      <input class="custom-control-input" type="radio" id="customRadio11" name="customRadio4">
                      <label for="customRadio11" class="custom-control-label">ระบุวันที่คือ</label>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <input type="text" class="form-control" id="textOtherWithdrawEmployer">
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-auto">
              <label class="col-form-label">ทั้งนี้ โปรดระบุรายละเอียดข้อมูลเพิ่มเติม เพื่อใช้ในการจัดทำเอกสารส่งให้กรรมการกองทุนฯลงนาม</label>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-auto">
                  <label class="col-form-label">1. รายชื่อผู้ชำระบัญชี คือ (ควรเป็นกรรมการกองทุน)</label>
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col">
                </div>
                <div class="col-auto">
                  <label class="col-form-label">คำนำหน้า</label>
                </div>
                <div class="col-auto">
                  <select class="form-control select-kbank" style="width: 100%;">
                    <option selected="selected" value="">โปรดเลือก</option>
                    <option value="นาย">นาย</option>
                    <option value="นาง">นาง</option>
                    <option value="นางสาว">นางสาว</option>
                  </select>
                </div>
                <div class="col-auto">
                  <label class="col-form-label">ชื่อ</label>
                </div>
                <div class="col-auto">
                  <input type="text" class="form-control" id="firstNameEmpFund">
                </div>
                <div class="col-auto">
                  <label class="col-form-label">นามสกุล</label>
                </div>
                <div class="col-auto">
                  <input type="text" class="form-control" id="lastNameEmpFund">
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-default btn-icon-plus" (click)="addDynamicEmployer()">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row mt-1">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-auto">
                  <label class="col-form-label">2. รายละเอียดของวันที่ประชุมคณะกรรมการกองทุนฯ</label>
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-auto">
                  <div class="form-group">
                    <div class="custom-control custom-radio custom-radio-kbank">
                      <input class="custom-control-input" type="radio" id="customRadio12" name="customRadio5">
                      <label for="customRadio12" class="custom-control-label">ตามข้อมูลที่มีอยู่กับ บลจ.กสิกรไทย</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-auto">
                  <div class="form-group">
                    <div class="custom-control custom-radio custom-radio-kbank">
                      <input class="custom-control-input" type="radio" id="customRadio13" name="customRadio5">
                      <label for="customRadio13" class="custom-control-label">มีการประชุมฯ มาแล้ว โดยจัดประชุมใน ครั้ง</label>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <input type="text" class="form-control fix-width-150" id="textOtherWithdrawEmployer">
                </div>
                <div class="col-auto">
                  <label class="col-form-label">วันที่</label>
                </div>
                <div class="col-auto">
                  <input type="text" class="form-control dateclass" id="textOtherWithdrawEmployer">
                </div>
              </div>
              <div class="row">
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col-11">
                  <label class="col-form-label">(กรุณาแนบสำเนารายงานประชุมฯ เพื่อประกอบการจดทะเบียน โดยส่งให้บริษัทจัดการพร้อมกับแบบฟอร์มนี้)</label>
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row mt-1">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-auto">
                  <label class="col-form-label">3. ระบุประธานที่ประชุด คือ</label>
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col">
                </div>
                <div class="col-auto">
                  <label class="col-form-label">คำนำหน้า</label>
                </div>
                <div class="col-auto">
                  <select class="form-control select-kbank" style="width: 100%;">
                    <option selected="selected" value="">โปรดเลือก</option>
                    <option value="นาย">นาย</option>
                    <option value="นาง">นาง</option>
                    <option value="นางสาว">นางสาว</option>
                  </select>
                </div>
                <div class="col-auto">
                  <label class="col-form-label">ชื่อ</label>
                </div>
                <div class="col-auto">
                  <input type="text" class="form-control" id="firstNameEmpFund">
                </div>
                <div class="col-auto">
                  <label class="col-form-label">นามสกุล</label>
                </div>
                <div class="col-auto">
                  <input type="text" class="form-control" id="lastNameEmpFund">
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-default btn-icon-plus" (click)="addDynamicEmployer()">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-auto">
                  <label class="col-form-label">4. ให้นำส่งเอกสารไปที่</label>
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-auto">
                    <div class="form-group">
                      <div class="custom-control custom-radio custom-radio-kbank">
                        <input class="custom-control-input" type="radio" id="customRadio14" name="customRadio6">
                        <label for="customRadio14" class="custom-control-label">ส่งทาง Email ผู้แจ้งข้อมูล และ Email ตามที่ระบุ คือ</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <input type="text" class="form-control" id="textOtherWithdrawEmployer">
                  </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-auto">
                    <div class="form-group">
                      <div class="custom-control custom-radio custom-radio-kbank">
                        <input class="custom-control-input" type="radio" id="customRadio15" name="customRadio6">
                        <label for="customRadio15" class="custom-control-label">ที่อยู่ในการติดต่อ - ตามข้อมูลที่แจ้งไว้กับ บลจ.กสิกรไทย</label>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-auto">
                    <div class="form-group">
                      <div class="custom-control custom-radio custom-radio-kbank">
                        <input class="custom-control-input" type="radio" id="customRadio16" name="customRadio6">
                        <label for="customRadio16" class="custom-control-label">ข้อมูลอื่นๆ ที่ประสงค์จะระบุเพิ่มเติม (ถ้ามี)</label>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
          <div class="row">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col-10">
              <div class="row">
                <textarea class="form-control" rows="3"></textarea>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-12">
      <div class="card card-default">
        <div class="card-header card-header-kbank">
          <h3 class="card-title card-title-kbank">กรรมการกองทุนฯ ผู้มีอำนาจลงนาม</h3>
    
          <div class="card-tools card-tools-kbank">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-auto">
              <label class="col-form-label">โปรดระบุขื่อกรรมการกองทุนฯ ผู้มีอำนาจลงนาม</label>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
            </div>
            <div class="col-11">
              <div class="row">
                <div class="col-auto">
                  <label class="col-form-label">คำนำหน้า</label>
                </div>
                <div class="col-auto">
                  <select class="form-control select-kbank" style="width: 100%;">
                    <option selected="selected" value="">โปรดเลือก</option>
                    <option value="นาย">นาย</option>
                    <option value="นาง">นาง</option>
                    <option value="นางสาว">นางสาว</option>
                  </select>
                </div>
                <div class="col-auto">
                  <label class="col-form-label">ชื่อ</label>
                </div>
                <div class="col-auto">
                  <input type="text" class="form-control" id="firstNameEmpFund">
                </div>
                <div class="col-auto">
                  <label class="col-form-label">นามสกุล</label>
                </div>
                <div class="col-auto">
                  <input type="text" class="form-control" id="lastNameEmpFund">
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-default btn-icon-plus" (click)="addDynamicEmployer()">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>