.container {
    min-height: 460px;
    max-width: 1300px;
}

.textHeader {
    font-size: 3rem;
    font-weight: bold;
    color: #00a950;
}

.borderHeader {
    border-bottom-style: solid;
}

.col-form-label{
    line-height:0.99;
    font-size: 1.76rem;
}

.btn-icon-plus{
    line-height:1.0;
    padding: .535rem .75rem;
    background-color: #00a950;
}

.btn-icon-plus label{
    cursor: pointer;
}

.btn-icon-plus:hover{
    background-color: #007939;
}

.btn-icon-plus i{
    color: white;
}

.btn-lable-kbank {
    color: white;
    font-size: 1.8rem;
    line-height: 1.3;
    padding-left: 0.5rem;
}

.div-text-align-right{
    text-align: right;
}

.dateclass{
    width: 150px;
}

.fix-width-150{
    width: 150px;
}

.fix-padding-left{
    padding-left: 2.5rem;
}

.fix-margin-top{
    margin-top: 0.8rem;
}

.width-250{
    width: 24rem;
}

.lable-Warning-Red{
    color: red;
}

.fix-width-colNum1{
    max-width: 86%;
    flex: 0 0 86%;
}

.fix-width-colNum2{
    max-width: 10.13%;
    flex: 0 0 10.13%;
}

.fix-width-colNum3{
    max-width: 14.4%;
    flex: 0 0 14.4%;
}

.fix-width-colNum4{
    max-width: 12.2%;
    flex: 0 0 12.2%;
}

.fix-width-colNum5{
    max-width: 29.7%;
    flex: 0 0 29.7%;
}

.fix-width-colNum6{
    max-width: 14.2%;
    flex: 0 0 14.2%;
}