.container {
    min-height: 460px;
    max-width: 1300px;
}

.textHeader {
    font-size: 3rem;
    font-weight: bold;
    color: #00a950;
}

.borderHeader {
    border-bottom-style: solid;
}

.textStory {
    font-size: 2.5rem;
    font-weight: bold;
}

.linkStory {
    color: black;
}

.linkStory:hover {
    color: #007939;
}

.borderstory-left {
    border-style: solid;
    border-width: 0.1rem 0.05rem 0.1rem 0.1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: #00a950;
}

.borderstory-right {
    border-style: solid;
    border-width: 0.1rem 0.1rem 0.1rem 0.05rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: #00a950;
}

.icon-size {
    font-size: 9rem;
}