<div class="container">
  <div class="row mt-3">
    <div class="col-12 textHeader borderHeader">
      ระบบการแจ้งเปลี่ยนแปลงข้อมูลทั่วไป และข้อมูลจดทะเบียนกับ ก.ล.ต. (I-Change)
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-4 text-center borderstory-left">
      <a href="/changerequest" class="linkStory">
        <div>
          <i class="fas fa-file-alt mt-4 icon-size"></i>
        </div>
        <div class="mt-4 mb-4 textStory">
          แจ้งขอเปลี่ยนแปลงข้อมูล
        </div>
      </a>
    </div>
    <div class="col-4 text-center borderstory-right">
      <a href="/personal" class="linkStory">
        <div>
          <i class="fas fa-upload mt-4 icon-size"></i>
        </div>
        <div class="mt-4 mb-4 textStory">
          ส่งเอกสารขอเปลี่ยนแปลงข้อมูล
        </div>
      </a>
    </div>
    <div class="col-2"></div>
  </div>
</div>