.container {
    min-height: 460px;
    max-width: 1300px;
}

.textHeader {
    font-size: 3rem;
    font-weight: bold;
    color: #00a950;
}

.borderHeader {
    border-bottom-style: solid;
}

.textHeaderDetail {
    font-size: 2.5rem;
    font-weight: bold;
}

.textDetail {
    font-size: 2rem;
}