<div class="container">
  <div class="row mt-3">
    <div class="col-12 textHeader borderHeader">
      แจ้งขอเปลี่ยนแปลงข้อมูล
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <div class="row">
        <div class="col">
        </div>
        <div class="col-11 textHeaderDetail">
          ข้าพเจ้ามีความประสงค์ที่จะ
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
        </div>
        <div class="col-10 textDetail">
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="customCheckbox1" value="option1" [(ngModel)]="changeRequestModel.option1">
              <label for="customCheckbox1" class="custom-control-label">เปลี่ยนแปลงผู้ติดต่อ</label>
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col-10 textDetail">
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="customCheckbox2" value="option2" [(ngModel)]="changeRequestModel.option2">
              <label for="customCheckbox2" class="custom-control-label">เปลี่ยนแปลงกรรมการกองทุนและเปลี่ยนแปลงผู้ติดต่อ</label>
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col-10 textDetail">
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="customCheckbox3" value="option3" [(ngModel)]="changeRequestModel.option3">
              <label for="customCheckbox3" class="custom-control-label">แก้ไขข้อบังคับกองทุน</label>
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col-10 textDetail">
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="customCheckbox4" value="option4" [(ngModel)]="changeRequestModel.option4">
              <label for="customCheckbox4" class="custom-control-label">เปลี่ยนแปลงที่อยู่</label>
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col-10 textDetail">
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="customCheckbox5" value="option5" [(ngModel)]="changeRequestModel.option5">
              <label for="customCheckbox5" class="custom-control-label">ขอคัดสำเนาเอกสาร</label>
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col-10 textDetail">
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="customCheckbox6" value="option6" (change)="checkOtherChange()" [(ngModel)]="changeRequestModel.option6">
              <label for="customCheckbox6" class="custom-control-label">เรื่องอื่นๆ</label>
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row" *ngIf="changeRequestModel.option6">
        <div class="col">
        </div>
        <div class="col-9 textDetail">
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="customCheckbox6_1" value="option6_1" [(ngModel)]="changeRequestModel.option6_1">
              <label for="customCheckbox6_1" class="custom-control-label">ถอนตัวนายจ้าง</label>
            </div>
          </div>
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row">
        <div class="col">
        </div>
        <div class="col-10 textDetail">
          <button type="button" class="btn btn-block btn-default btn-kbank" (click)="onSavedata()">ตกลง</button>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </div>
</div>