/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'DB ThaiText X';
    src: url("./assets/font/DBThaiTextX.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: large;
  }
  @font-face {
    font-family: 'DB ThaiText X';
    src: url("./assets/font/DBThaiTextXBd.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
    font-size: large;
  }
  @font-face {
    font-family: 'DB ThaiText X';
    src: url("./assets/font/DBThaiTextXItalic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
    font-size: large;
  }
  @font-face {
    font-family: 'DB ThaiText X';
    src: url("./assets/font/DBThaiTextXLi.ttf") format('truetype');
    font-weight: lighter;
    font-style: normal;
    font-size: large;
  }

  input[type=text]{
    font-size: 1.8rem;
  }

  .select-kbank{
    font-size: 1.8rem;
    padding: .205rem .75rem .375rem .75rem;
  }

  .btn-kbank {
    background-color: #00a950;
    max-width: 150px;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    line-height: 1.3;
  }

  .btn-kbank:hover {
    background-color: #007939;
    color: white;
  }

  .card-title{
    font-size: 2.1rem;
    line-height: 0.8;
  }

  .card-title-kbank{
    font-size: 2.1rem;
    line-height: 0.8;
    font-weight: bold;
  }

  .card-header-kbank{
    background-color: #00a950;
    color: white;
  }

  .card-tools-kbank button{
    color: white;
  }

  .custom-file-label{
    line-height: 1;
  }

  .custom-file-label::after{
    line-height: 1;
  }

  .custom-radio-kbank{
    padding-top: 7.5px;
  }

  .custom-checkbox-kbank{
    padding-top: 7.5px;
  }

  body {
    font-family: "DB ThaiText X","Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.8rem;
    line-height: 0.8;
  }

  .custom-control-input:checked~.custom-control-label::before{
    border-color:#00a950;
    background-color:#00a950;
  }